<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>商品栏目</title>  
    <link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
    <script src="__ADSTATIC__/js/jquery.js"></script>
    <script src="__ADSTATIC__/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href="#p1"><span class="icon-plus-square-o"></span> 添加内容</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>PID</th>  
      <th>版块名称</th>     
      <th width="250">操作</th>
    </tr>
   
   
    <tr>
    {volist name="list" id="data"}
      <td>{$data.cateId}</td>      
      <td>{$data.cateParentId}</td>  
      <td>{$data.cateName}</td>
    
      <td>
      <div class="button-group">
      <a type="button" class="button border-main" href="__ADSITE__/admin/index/modCategory/cateId/{$data.cateId}"><span class="icon-edit"></span>修改</a>
       <a class="button border-red" href="__ADSITE__/admin/index/delCategory/cateId/{$data.cateId}/cateParentId/{$data.cateParentId}" onclick="return del(17)"><span class="icon-trash-o"></span> 删除</a>
      </div>
      </td>
    </tr> 
  {/volist}
  </table>
  {$page}
</div>
<script>
function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}
</script>

</body></html>