<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
    <script src="__ADSTATIC__/js/jquery.js"></script>
    <script src="__ADSTATIC__/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 留言管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120">ID</th>
        <th>商品名</th>       
        <th>用户名</th>
        <th>内容</th>
        <th>评论时间</th>
        <th>操作</th>       
      </tr>      
      {volist name="list" id="data"}
          <tr>
          <td><input type="checkbox" name="id[]" value="{$data.commentId}" /></td>
          <td>{$data.detName}</td>
          <td>{$data.commentUser}</td>
          <td>{$data.commentContent}</td>  
           <td>{$data.commentAddtime}</td>
          <td><div class="button-group"> <a class="button border-red" href="{:url('index/delComment',['commentId'=>$data.commentId])}" onclick="return del(1)"><span class="icon-trash-o"></span> 屏蔽</a> </div></td>
        </tr>
        {/volist}
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要屏蔽吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要屏蔽选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要屏蔽的内容!");
		return false;
	}
}

</script>
</body></html>