<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>商品栏目</title>  
    <link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
    <script src="__ADSTATIC__/js/jquery.js"></script>
    <script src="__ADSTATIC__/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改商品</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('index/modedGoods')}" enctype="multipart/form-data">   
      <input type="hidden" name="detId"  value="{$list.detId}" />  
      <div class="form-group">
        <div class="label">
          <label>商品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="detName" value="{$list.detName}" data-validate="required:请输入标题" />         
          <div class="tips"></div>
        </div>
      </div> 

      <div class="form-group">
        <div class="label">
          <label>商品图片：</label>
        </div>
        <div class="field">
          <img src="{$list.detPicture}" alt="">
          <div><input type="file" name="gp" value="" id="gp"></div>
          <!-- <input type="text" class="input w50" name="colName" value="" data-validate="required:请输入标题" /> -->         
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>商品价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="detPrice" value="{$list.detPrice}" data-validate="required:请输入标题" />         
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
              <div class="label">
                <label>商品数量：</label>
              </div>
              <div class="field">
                <input type="text" class="input w50" name="detNumber" data-validate="required:,number:排序必须为数字" value="{$list.detNumber}" />
                <div class="tips"></div>
              </div>
            </div>
     <div class="form-group">

     <div class="form-group">
              <div class="label">
                <label>是否置顶：</label>
              </div>
              <div class="field">
                <input type="text" class="input w50" name="detIsTop" data-validate="required:,number:排序必须为数字" value="{$list.detIsTop}" />
                <div class="tips"></div>
              </div>
            </div>
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- 更新图片发送Ajax请求 -->
<script>

</script>

</body>
</html>