<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
<link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
<script src="__ADSTATIC__/js/jquery.js"></script>
<script src="__ADSTATIC__/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 图片列表</strong></div>
  <div class="padding border-bottom">  
  
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="20%">图片</th>
      <th width="15%">名称</th>
      <th width="10%">排序</th>
      <th width="15%">操作</th>
    </tr>
   {volist name="list" id="data"}
    <tr>
      <td>1</td>     
      <td><img src="{$data.picture}" alt="" width="120" height="120" /></td>     
      <td>{$data.slogan}</td>
      <td>{$data.sort}</td>
      <td><div class="button-group">
      <a class="button border-red" href="{:url('index/delTurn',['id'=>$data.id])}" onclick="return del(1,1)"><span class="icon-trash-o"></span> 删除</a>
      </div></td>
    </tr>
    {/volist}
  </table>
</div>
<script type="text/javascript">
function del(id,mid){
	if(confirm("您确定要删除吗?")){
	
	}
}
</script>
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加图片</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('index/turnPicture')}" enctype="multipart/form-data">    
      <div class="form-group">
        <div class="label">
          <label>名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="slogan" value="" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <input type="file" id="url1" name="imgturn" class="input tips" style="width:25%; float:left;"  value="" data-place="right"/>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value="0"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>