<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title>用户管理</title>
  <link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
  <link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
  <style type="text/css">
  .usera:hover{text-decoration : underline;}
  </style>
  <script src="__ADSTATIC__/js/jquery.js"></script>
  <script src="__ADSTATIC__/js/pintuer.js"></script>
</head>
<body>
  
    <div class="panel admin-panel" style="overflow: auto;">
      
        <table class="table table-hover text-center">
          <tr>
          <th></th>
            <th>ID</th>
            <th>用户名</th>
            <th>Email</th>
            <th>Phone</th>
            <th>QQ</th>
            <th>sex</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
            
          </tr>
          <form method="post" action="" id="listform">
          {volist name="list" id="data"}
            <tr>
              <td><input type="checkbox" name="userId[]" value="{$data.memId}"/></td>
               
               <td>{$data.memId}</td>
               <td>{$data.memberName}</td>
               <td>{$data.memberEmail}</td>               
               <td>{$data.memberPhone}</td>
               <td>{$data.memberQQ}</td>
               <td>{$data.memberSex}</td>
               <td>
               <div class="button-group">  
                 <a class="button border-red" href="{:url('index/delVerify',['memId'=>$data.memId])}" onclick="return del(1,1,1)"><span class="icon-trash-o"></span> 删除</a> 
                 {if $data.memberFlag == 0}
                 <a class="button border-green" href="{:url('index/verify',['memId'=>$data.memId])}"><span class="icon-check-square-o"></span> 认证</a>
                 {else}
                 <a class="button border-green" href="{:url('index/verify',['memId'=>$data.memId])}"><span class="icon-check-square-o"></span> 已认证</a>
                 {/if}
               </div>
               </td>
             </tr>
          {/volist}
            </table>
            <div style="margin-left:220px;"></div>
          </div>
        </form>
<script type="text/javascript">

//搜索
function changesearch(){	
  
}

//单个删除
function del(id,mid,iscid){
	if(confirm("您确定要删除吗?")){
		
	}
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
   if (this.checked) {
    this.checked = false;
  }
  else {
    this.checked = true;
  }
});
})

//批量删除
function DelSelect(){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){
    var t=confirm("您确认要删除选中的内容吗？");
    if (t==false) return false;		
    $("#listform").submit();		
  }
  else{
    alert("请选择您要删除的内容!");
    return false;
  }
}

//批量排序
function sorts(){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){	
    
    $("#listform").submit();		
  }
  else{
    alert("请选择要操作的内容!");
    return false;
  }
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){
    
    $("#listform").submit();	
  }
  else{
    alert("请选择要操作的内容!");		
    
    return false;
  }
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){
    
    
    $("#listform").submit();	
  }
  else{
    alert("请选择要操作的内容!");	
    
    return false;
  }
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){		
    
    $("#listform").submit();	
  }
  else{
    alert("请选择要操作的内容!");		
    
    return false;
  }
}


//批量移动
function changecate(o){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){		
    
    $("#listform").submit();		
  }
  else{
    alert("请选择要操作的内容!");
    
    return false;
  }
}

//批量复制
function changecopy(o){
	var Checkbox=false;
  $("input[name='id[]']").each(function(){
   if (this.checked==true) {		
    Checkbox=true;	
  }
});
  if (Checkbox){	
    var i = 0;
    $("input[name='id[]']").each(function(){
     if (this.checked==true) {
      i++;
    }		
  });
    if(i>1){ 
      alert("只能选择一条信息!");
      $(o).find("option:first").prop("selected","selected");
    }else{
      
     $("#listform").submit();		
   }	
 }
 else{
  alert("请选择要复制的内容!");
  $(o).find("option:first").prop("selected","selected");
  return false;
}
}

</script>
</body>
</html>
