<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__ADSTATIC__/css/pintuer.css">
    <link rel="stylesheet" href="__ADSTATIC__/css/admin.css">
    <script src="__ADSTATIC__/js/jquery.js"></script>
    <script src="__ADSTATIC__/js/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="{:url('index/webHandle')}" enctype="multipart/form-data">
    <input type="hidden" name="webId" value="{$list.webId}">
      <div class="form-group">
        <div class="label">
          <label>网站标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="webTitle" value="{$list.webTitle}" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站LOGO：</label>
        </div>
        <div class="field">
          <img src="{$list.webLogo}" alt="" style="height:100px;width:80px;">
          <input type="file" class="button margin-left" id="image1" name="webLogo" value="+ 浏览上传" >
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站域名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="webLink" value="{$list.webLink}" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label>负责人：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="webOwner" value="{$list.webOwner}" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>手机：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="webPhone" value="{$list.webPhone}" />
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <div>网站开关：</div>
        </div>
        <div class="field">
          <input type="radio" name="webSwitch" value="1" checked>开
          <input type="radio" name="webSwitch" value="0">关
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>