<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="__STATIC__/css/style1.css" type="text/css" rel="stylesheet" />
<script src="__STATIC__/js/jquery-1.7.min.js" type="text/javascript"></script>
<script src="__STATIC__/js/common.js"  type="text/javascript"></script>
<link rel="stylesheet" href="__STATIC__/style/shopping.css" />
<script type="text/javascript" src="__STATIC__/js/jquery-1.12.2.min.js" ></script>
<script type="text/javascript" src="__STATIC__/js/cookie.js" ></script>
<script type="text/javascript" src="__STATIC__/js/gain-css.js"></script>
<script type="text/javascript" src="__STATIC__/js/particulars.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/style/index.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/style/particulars.css">

</head>
<body class="index">

<div class="w1200"> 
	<div><a href="{:url('index/index')}" style="color:#333;width:120px;height:30px;display:inline-block;font-size:22px;">回到首页</a></div>
    <div class="payply">
        <div class="pay_w" ><img style="margin-left:500px;" src="__STATIC__/images/ico13.jpg"/><p>订单支付成功，订单号{$list.orderSn}<br />付款金额：<font>{$list.orderMoney}元</font></p></div>
        <dl>
            
        </dl>
        <div class="clear"></div>
    </div>
</div>
<div class="like">
			<div class="cartSmsg">
				<h3 class="ch3">猜你喜欢</h3>
				<div class="mList01">
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_01.jpg" /></dt>
		        		<dd>【上海地区】奔驰 CLS级</dd>
		        		<p class="money"><b>3000</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_02.jpg" /></dt>
		        		<dd>ROLEX/劳力士潜航者型系列</dd>
		        		<p class="money"><b>62800</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_03.jpg" /></dt>
		        		<dd>航空装备·黑科技·美国 光启</dd>
		        		<p class="money"><b>20000</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_04.jpg" /></dt>
		        		<dd>CARTIER/卡地亚 LOVE系列</dd>
		        		<p class="money"><b>45600</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_05.jpg" /></dt>
		        		<dd>BVLGARI/宝格丽 女士</dd>
		        		<p class="money"><b>3580</b>元</p>
		        	</dl>
				</div>
			</div>
			<div class="cartSmsg">
				<h3 class="ch3">最近浏览</h3>
				<div class="mList01">
					<dl>
		        		<dt><img src="__STATIC__/img_common/like_06.jpg" /></dt>
		        		<dd>Jaeger-LeCoultre/积家Master</dd>
		        		<p class="money"><b>39800</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_07.jpg" /></dt>
		        		<dd>Citizen/西铁城 防水商务休闲</dd>
		        		<p class="money"><b>2970</b>元</p>
		        	</dl>
		        	<dl>
		        		<dt><img src="__STATIC__/img_common/like_08.jpg" /></dt>
		        		<dd>GUCCI/古驰 牛皮人字拖 沙</dd>
		        		<p class="money"><b>2389</b>元</p>
		        	</dl>
				</div>
			</div>
		</div>
		<div class="footer_shop">
			<div class="footer_top">
				<div class="listTop_L">
					<ul>
						<li class="one">
							<div class="sliding"><p></p><span></span></div>
							<div class="character">正品保障</div>
						</li>
						<li class="wire"></li>
						<li class="two">
							<div class="sliding"><p></p><span></span></div>
							<div class="character">七天维修</div>
						</li>
						<li class="wire"></li>
						<li class="three">
							<div class="sliding"><p></p><span></span></div>
							<div class="character">维修保养</div>
						</li>
						<li class="wire"></li>
						<li class="four">
							<div class="sliding"><p></p><span></span></div>
							<div class="character">权威鉴定</div>
						</li>
						<li class="wire"></li>
						<li class="five">
							<div class="sliding"><p></p><span></span></div>
							<div class="character">管家服务</div>
						</li>
					</ul>
				</div>
				<div class="listTop_C">
					<ul>
						<li>
							<a class="toptext" href="">关注寺库微信</a>
							<img src="__STATIC__/img_common/weixin.jpg"/>
							<a class="bottomtext" href="">扫一扫有惊喜</a>
						</li>
						<li>
							<a class="toptext" href="">下载寺库APP</a>
							<img src="__STATIC__/img_common/app.jpg"/>
							<a class="bottomtext" href="">扫一扫有惊喜</a>
						</li>
					</ul>
				</div>
				<div class="listTop_R">
					<div class="else">
						<a href="javascript:void(0);">加入寺库</a>
						<a href="javascript:void(0);">关于寺库</a>
						<a href="javascript:void(0);">联系我们</a>
						<a href="javascript:void(0);">支付方式</a>
						<a href="javascript:void(0);">帮助中心</a>
						<a href="javascript:void(0);">售后服务</a>
						<a href="javascript:void(0);">免责声明</a>
						<a href="javascript:void(0);">礼品采购</a>
						<a href="javascript:void(0);">寺库微博</a>
						<a href="javascript:void(0);">友情链接</a>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<p>京ICP备09084709号-3 京公网安备110105004373号</p>
				<a href="javascript:void(0);"><img src="__STATIC__/img_common/foot_pic01.png" /></a>
				<a href="javascript:void(0);"><img src="__STATIC__/img_common/foot_pic02.png" /></a>
				<a href="javascript:void(0);"><img src="__STATIC__/img_common/gongshangju.png" /></a>
			</div>
		</div>
</body>
<script type="text/javascript" src="__STATIC__/js/shopping.js" ></script>
</html>
