<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/style/index.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/jquery.imgscroll.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/index.js"></script>

  <link href="__STATIC__/css/skitter.styles.css" type="text/css" media="all" rel="stylesheet" />
  <link href="__STATIC__/css/styles.css" type="text/css" media="all" rel="stylesheet" />
</head>
<body>
	<div class="lowheader">
    <div class="header">
      <div class="header-left">
        <div class="pic1"><a href="html/activity.html"><img src="__STATIC__/img/1.gif"></a></div>
      </div>
      <div class="header-right">
        <div class="header-right-up">
          <ul class="list1" style="position: relative;">
            <a href="javascript:void(0);" class="user_name"></a>
            <li><span>欢迎光临寺库</span></li>
            <li><a id="vanish" href="__SITE__/index/Index/index">首页</a></li>
            <li id="li3"><a href="__SITE__/index/Index/loginout">退出</a></li>
            <li><a href="__SITE__/index/Info/order">我的订单</a></li>
            <li id="li5">
              <a class="serve" href="javascript:void(0);">客户服务<span class="sp1"></span></a>
              <ul class="list3">
                <li><a href="javascript:void(0);">养护中心</a></li>
                <li><a href="javascript:void(0);">帮助中心</a></li>
                <li><a href="javascript:void(0);">贵宾专线</a></li>
                <li><a href="javascript:void(0);">400-87-56789</a></li>
              </ul>
            </li>
            <li><a href="__SITE__/index/Info/userInfo">我的寺库</a></li>
            <li id="li6"><a href="javascript:void(0);">媒体聚焦</a></li>
            <li id="li7"><span></span><a href="__SITE__/index/Carts/cartts.html">购物车</a></li>
          </ul>
        </div>
      </div> 
  </div><br/>
</body>
</html>